.slide-in-blurred-right {
	-webkit-animation: slide-in-blurred-right 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-right 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes slide-in-blurred-right {
    0% {
      -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-right {
    0% {
      -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
              transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) scaleY(1) scaleX(1);
              transform: translateX(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }

.group-cart {
    display: grid;
    /* background: rgba(112, 76, 29, 0.3); */
    /* box-shadow: 0px 19px 60px rgba(255, 255, 255, 0.7); */
    /* border-radius: 2rem; */
    grid-template-rows: 5rem auto 10rem;
    overflow: hidden;
}

.cart-title {
    /* background: #313131; */
    border-top: #6b4409 1px solid;
    border-bottom: #6b4409 1px solid;
    margin-top: 2rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-title p {
    color: bisque;
    font-size: 20px;
    font-weight: 600;
}

.cart-body {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 1rem;
}

.cart-body::-webkit-scrollbar {
    width: 10px;
}

.cart-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(68, 57, 48, 0.5);
}

.cart-body::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #965f0d 0%, #c97a3a 100%);
    border-radius: 5px;
}

.cart-body .cart-list {
    margin-top: 10px;
    padding: 5px;
    display: grid;
    height: 5rem;
    /* background: rgba(112, 76, 29, 0.3); */
    box-shadow: 0px 0px 4px rgba(190, 135, 31,0.5);
    /* border-radius: 2rem; */
    /* border: #6b4409 1px solid; */
    grid-template-columns: 33% 33% 33%;
    gap: 12px;
    overflow: hidden;
}

.cart-body .cart-list .image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-body .cart-list .image img {
    width: 4rem;
}

.cart-body .cart-list .unit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cart-body .cart-list .unit .prod-name {
    color: #9c7b49;
    font-size: 10px;
    text-align: center;
}

.cart-body .cart-list .unit .product-unit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.cart-body .cart-list .unit .product-unit .btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid;
    box-shadow: 0px 19px 60px rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 12px;
    margin-top: auto;
    margin-bottom: auto;
}
.cart-body .cart-list .unit .product-unit .btn:hover {
    scale: 1.1;
}


.cart-body .cart-list .price {
    /* position: absolute;
    right: 1rem;
    top: 2.4rem; */
    color: #c29c64;
    font-size: 20px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.cart-body .cart-list .btn-delete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart-body .cart-list .btn-delete img {
    cursor: pointer;
    width: 25px; 
    height:25px;   
}
.cart-body .cart-list .btn-delete img:hover {
    scale: 1.1; 
    transition: .3s;
}

.cart-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cart-footer .price-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    height: 5rem;
    width: 100%;
    /* background: rgba(247, 226, 203, 0.5); */
}

.cart-footer .success-btn {
    color: bisque;
    background: #313131;
    font-size: 22px;
    font-weight: 600;
    box-shadow: 0px 5px 8px 2px rgba(20, 20, 20, 0.6);
    border-radius: 15px;
    width: 13rem;
    height: 5rem;
    margin: 1rem 0;
}

.cart-footer .success-btn:hover {
    background: #5c5c5c;
    transition: all 300ms ease;
}
