:root {
  --templateColorA: #ffe4d9;
  --templateColorB: #ff8e8e;
  --templateColorC: #fab3a1;
  --textColor: #ffe4d9;
  --textColorActive: #f29279;
  --border: 4px solid #ffe4d9;
  --boxShadow: 10px  2px 20px rgb(253, 208, 208);
}

* {
  font-family: 'Kanit', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

.App {
  color: var(--black);
  background: var(--templateColorA);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

.AppGlass {
  display : grid;
  height: 97%;
  width: 97%;
  background: var(--templateColorB);
  box-shadow: 0px 19px 60px rgba(172, 172, 172, 0.7);
  border-radius: 2rem;
  border: var(--border); 
  grid-template-columns: 18rem auto 18rem;
  overflow: hidden;
}

@media screen and (max-width: 1980px) and (min-width: 1281px){
  .AppGlass{
    grid-template-columns: 15% 60% auto;
  } 
}

@media screen and (max-width: 1280px) and (min-width: 768px){
  .AppGlass{
    grid-template-columns: 0 70% auto;
  } 
}

@media screen and (max-width: 768px) and (min-width: 0px){
  .AppGlass{
    grid-template-columns: 1fr;
  } 
}